<!--The content below is only a placeholder and can be replaced.-->
<header>
    angular router example
</header>
<nav>
    <a [routerLink]="'/start'">Start</a>
    <a [routerLink]="'/item-list'">Item List</a>
    <a [routerLink]="'/404'">Not Found</a>
    <a [routerLink]="'/lazy'">Lazy</a>
    <a [routerLink]="'/protected-content'">Protected</a>
    <button (click)="gotoStart()">Start</button>
    <a [routerLink]="[{outlets: {popup: ['popup','start']}}]">Popup Start</a>
</nav>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>