:host {
  .header {
    display: flex;
    justify-content: space-between;
    color: white;
    grid-area: header;
    padding: 50px;
    background-color: brown;

    a {
      text-decoration: underline;
      color: white;
    }
  }

  .sidemenu {
    grid-area: sidemenu;
    padding: 50px;
    background-color: indianred;
    a {
      display: block;
      margin: 10px 0 10px 0;
    }
  }

  .content {
    grid-area: content;
    padding: 50px;
  }

  .footer {
    grid-area: footer;
    background-color: palevioletred;
  }

  a {
    color: black;
  }

  a.active {
    text-decoration: none;
  }

  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "sidemenu content content" "footer footer footer";


}
