<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  Angular Router Beispiel
  <a (click)="userService.switchUser()" >{{this.userService.role}}</a>
</header>

<nav class="sidemenu">
  <a [routerLink]="'/start'" routerLinkActive="active">Start</a>
  <a routerLink="" (click)="gotoStart()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Start</a>
  <a [routerLink]="'/item-list'" routerLinkActive="active">Seiten</a>
  <a [routerLink]="'/404'" routerLinkActive="active">Fehlerseite</a>
  <a [routerLink]="'/lazy'" routerLinkActive="active">LazyLoad</a>
  <a [routerLink]="'/protected-content'" routerLinkActive="active">Geschützt</a>
  <a [routerLink]="[{outlets: {popup: ['popup','start']}}]" routerLinkActive="active">Popup</a>
  <a [routerLink]="[{outlets: {footer: ['banner']}}]" routerLinkActive="active">Footer</a>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <router-outlet name="footer"></router-outlet>
</footer>

<div class="popup">
  <router-outlet name="popup"></router-outlet>
</div>
